/* File Created: июля 18, 2015 */
.lp-send{
	background: #105289;
	font-size: 14px;
	color:#ffffff;
	border:1px solid #ffffff;
	text-shadow:0px 0px 1px #222222;
	box-shadow:0px 0px 3px #000000;
	border-radius:10px 10px 0px 0px;
	padding: 5px 15px;
	cursor:pointer;
	margin:0 auto;
}

#loader_get, #loader_save
{
	display:none;
	width:32px;
	height:32px;
	margin: auto;
	background-image: url(./images/ajax-loader.gif);
}
